footer {
    background-color: whitesmoke;
    width: 101%;
    margin: -1%;
    position: relative;
    border-top: solid rgb(15, 110, 173) 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 1vw 0; 
}

.names {
    display: flex;
    flex-direction: column;
    width: 8vw;
    height: fit-content;
    gap: 0.25vw;
    font-size: 1vw;
    margin-top: 0.2vw;
    position: left;
    left: 30.7%;
    border-right: solid rgb(15, 110, 173) 3px;
    padding-right: 0.85%;
    margin-left: 2vw; 
}

#nametext {
    position: relative;
    width: fit-content;
}

.names a {
    text-decoration: none;
    color: rgb(15, 110, 173);
    font-size: 0.8vw;
    cursor: pointer;
    font-weight: 600;
    background-color: whitesmoke;
    transition: transform 0.3s ease;
    border: none;
    left: 1vw;
}

.names a:hover {
    color: rgb(49, 137, 196);
    transform: scale(1.1);
}

#cylogo {
    height: 4vw;
    margin-top: 0.8vw;
    margin-left: 68vw;
    transition: transform 0.3s ease;
}

#cyulogo {
    height: 3.5vw;
    margin-top: 1vw;
    margin-right: 1.5vw;
    transition: transform 0.3s ease;
}

#cylogo:hover, #cyulogo:hover {
    transform: scale(1.1);
}